@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Multiply the amount</h1>
    <div id="status"></div>
    <input type="number" id="txtAmount"  style="text-align: right;" required /> X 2 = ? 
    <button type="button" id="btnCalculate" disabled>Start</button>
</div>
