@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Calculate Procurement System</h1>    
    <div id="status"></div>
    <input type="number" id="txtAmount" required maxlength="3" /> 
    <button type="button" id="btnCalculate" disabled>Start</button>
</div>
